* {
    margin: 0;
    padding: 0;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


html, body {
    height: 100%; /* Ensure the body takes full height */
    margin: 0;    /* Remove default margin */
}

.wrapper {
    min-height: 60%; /* Allow the wrapper to grow */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
}

.content {
    flex: 1; /* This makes the content area grow to fill space */
}

footer{
    background-color: #D9AFD9;background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); 
}
.footer {
   /* Background color for the footer */
    padding: 20px; /* Padding for the footer */
    text-align: center; /* Center text in footer */
    position: fixed; /* Fix the position */
    left: 0; /* Align to the left */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
}



 

#toastCart{
    bottom:0;
    right:0;
    z-index:100;
    position:fixed;
 }

 .noti_Counter {
    background-color: #ec5252;
    border-radius: 4px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.43;
    margin: -6px 0 0 5px;
    padding: 0px 7px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
  }